name: "Caravan GPS (GPSD)"
description: >-
  Professional GPS tracking for caravans. Based on the excellent work by Corvy.
  This addon runs GPSD to provide high-accuracy location data via MQTT.
url: https://github.com/sambarlick/ha-addons/tree/main/gpsd2mqtt
version: "2025.12.0"
slug: "caravan_gps"
init: false
arch:
  - aarch64
  - amd64
  - armv7
services:
  - mqtt:need
options:
  input_type: serial
  device: "/dev/ttyS0"
  publish_3d_fix_only: false
  gpsd_options: "-n"
schema:
  input_type: list(serial|tcp)
  device: device(subsystem=tty)?
  baudrate: int?
  charsize: int?
  parity: bool?
  stopbit: int?
  tcp_host: str?
  tcp_port: int?
  publish_3d_fix_only: bool?
  min_n_satellites: int?
  publish_interval: int?
  summary_interval: int?
  mqtt_broker: str?
  mqtt_port: int?
  mqtt_username: str?
  mqtt_pw: str?
  mqtt_state: str?
  gpsd_options: str?
  debug: bool?
ports:
  2947/tcp: 2947
devices:
  - /dev/pps0
#image: ghcr.io/corvy/{arch}-addon-gpsd2mqtt-beta
